table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid rgb(11, 11, 11);
    padding: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    font-weight: bold;
  
}


th[colspan="2"] {
    width: 50px; 
}

td span.bold-text {
    font-weight: bold;
}